body{
    background-color: #070606;
    color:#FFFFFF;
    padding-left: 20px;
}
.headline{
    font-family: 'Raleway',sans-serif;
    font-size: 40px;
}
.description{
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    margin-top: -15px;
    color: #BDBDBD;
}
.button{
    font-family: 'Raleway', sans-serif;
    background-color: #2B892E;
    border: none;
    border-radius: 25px;
    color: #ffffff;
    cursor: pointer;
    font-size: 12px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 8px;
}
.image{
    padding-top: 40px;
    width: 500px;
    height: auto;
}
